<ng-container *ngIf="loading; else content">
    <div class="loader-wrapper d-flex flex-column justify-content-center align-items-center text-center">
        <div class="loader"></div>
        <div class="loader-text">
            <small>Loading...</small>
        </div>
    </div>
</ng-container>
<ng-template #content></ng-template>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="page-banner-wrapper">
                <div class="img-container">
                    <img src="../../../assets/img/about-us-banner.jpg" alt="">
                </div>
                <div class="text-container bg-white d-inline-block">
                    <h4>ABOUT US</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container p-5 my-5">
    <div class="row gy-4 align-items-center">
        <div class="col-sm-12 col-md-6">
            <div class="about-img">
                <img src="../../../assets/img/about-img1.png" alt="about-us">
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="about-content">
                <h3>About TekRocks IT Services</h3>
                <p>TekRocks IT Services offers comprehensive business solutions globally, covering ERP, SCM, PLM, WMS,
                    CRM, portal, e-commerce, app development, project services, e-learning, training, staffing, and
                    global sourcing.</p>
                <p>Based in New Jersey, TekRocks IT Services operates globally, serving mid-market enterprises, Fortune
                    1000 companies, and government agencies. They specialize in driving business transformation and
                    improving performance through advanced technology solutions, delivered by dedicated experts
                    committed to customer satisfaction.</p>
                <p>TekRocks IT Services provides an integrated portfolio of solutions and services, encompassing various
                    technology and business practices. This approach offers a single point of accountability, reducing
                    total cost of ownership and maximizing return on IT investments. The result is end-to-end delivery
                    and support of comprehensive solutions, allowing clients to focus on driving competitive advantage
                    in their core business.</p>
                <button class="btn btn-dark" routerLink="/contact">Contact Us</button>
            </div>
        </div>
    </div>
</div>