<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="page-banner-wrapper">
                <div class="img-container">
                    <img src="../../../assets/img/career-banner.jpg" alt="">
                </div>
                <div class="text-container bg-white d-inline-block">
                    <h4>CAREERS</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row py-5 mt-4">
        <div class="col-sm-12">
            <h3>Join Our Award-Winning TeckRocks Team</h3>
            <p>Whether it's your first job, your next move, or an internal role at TekRocks or our client sites, we have
                the ideal opportunity for you.</p>
        </div>
    </div>
    <div class="row py-5">
        <div class="col-sm-12">
            <h3>Why Work for Us?</h3>
        </div>
    </div>
    <div class="row">
        <div class="col-12 col-md-4">
            <div class="option-wrapper py-2 px-3 d-flex align-items-center">
                <div class="option-icon">
                    <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="option-text">
                    <p class="mb-0 ps-3">Best in Class Global Clients</p>
                </div>
            </div>
            <div class="option-wrapper py-2 px-3 d-flex align-items-center">
                <div class="option-icon">
                    <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="option-text">
                    <p class="mb-0 ps-3">Training & Development Opportunities</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="option-wrapper py-2 px-3 d-flex align-items-center">
                <div class="option-icon">
                    <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="option-text">
                    <p class="mb-0 ps-3">Ranked Best Places to Work</p>
                </div>
            </div>
            <div class="option-wrapper py-2 px-3 d-flex align-items-center">
                <div class="option-icon">
                    <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="option-text">
                    <p class="mb-0 ps-3">Competitive Benefit Plans </p>
                </div>
            </div>
            <div class="option-wrapper py-2 px-3 d-flex align-items-center">
                <div class="option-icon">
                    <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="option-text">
                    <p class="mb-0 ps-3">Extra source of Income through Referrals and Gigs</p>
                </div>
            </div>
        </div>
        <div class="col-12 col-md-4">
            <div class="option-wrapper py-2 px-3 d-flex align-items-center">
                <div class="option-icon">
                    <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="option-text">
                    <p class="mb-0 ps-3">Accelerated Growth & Compensation Plans</p>
                </div>
            </div>
            <div class="option-wrapper py-2 px-3 d-flex align-items-center">
                <div class="option-icon">
                    <i class="bi bi-check-circle-fill"></i>
                </div>
                <div class="option-text">
                    <p class="mb-0 ps-3">Referral Bonus, Gigs, Awards & Team Events</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container text-center">
    <div class="row">
        <div class="col-sm-12">
            <h3>Testimonials</h3>
        </div>
    </div>
    <div class="row">
        <p>TekRocks consistently earns "Best Places to Work" awards. Discover what our employees say about their
            experience.</p>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0 text-center">
            <div id="carouselExampleIndicators" class="carousel">
                <div class="carousel-indicators">
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0"
                        class="active" aria-current="true" aria-label="Slide 1"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                        aria-label="Slide 2"></button>
                    <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                        aria-label="Slide 3"></button>
                </div>
                <div class="carousel-inner" data-aos="zoom-in">
                    <div class="carousel-item active">
                        <div>
                            <p>"TekRocks consistently delivers ERP expertise to Fortune 500 clients, facilitating
                                successful strategic engagements by deploying the right experts. I look forward to
                                future projects with TekRocks."<br>
                                <span class="reviewer">- Ferris Griffith</span><br>
                                <span class="text-small">Lawson/Healthcare Subject Matter Expert</span>
                            </p>

                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <p>"Within six months of graduating, I joined TekRock's training program and swiftly became
                                a Team Lead at a Fortune 500 company. TekRocks feels like home to me."<br>
                                <span class="reviewer">- Tyler Cobb</span><br>
                                <span class="text-small">Associate Consultant</span>
                            </p>
                        </div>
                    </div>
                    <div class="carousel-item">
                        <div>
                            <p>"Within TekRocks, I've discovered a platform to leverage my expertise and drive
                                efficiencies for Fortune 1000 clients. TekRocks stands out for its supportive
                                environment, commitment to client and consultant success, and industry-leading
                                compensation."<br>
                                <span class="reviewer">- Raven Harper</span><br>
                                <span class="text-small">Security Architect</span>
                            </p>
                        </div>
                    </div>
                </div>
                <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="prev">
                    <span class="text-dark">&larr;</span>
                    <span class="visually-hidden">Prev</span>
                </button>
                <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
                    data-bs-slide="next">
                    <span class="text-dark">&rarr;</span>
                </button>
            </div>
        </div>
    </div>
</div>