.img-container img {
  object-position: 0% 15%;
}

.option-wrapper {
  background-color: rgba(0, 91, 86, 0.25);
  border-left: 5px solid rgb(0, 91, 86);
  margin-bottom: 20px;
  transition: all 0.3s ease;
  -webkit-transition: all 0.3s ease;
  -moz-transition: all 0.3s ease;
  -ms-transition: all 0.3s ease;
  -o-transition: all 0.3s ease;
}
.option-wrapper:hover {
  transform: translateY(-5px);
  -webkit-transform: translateY(-5px);
  -moz-transform: translateY(-5px);
  -ms-transform: translateY(-5px);
  -o-transform: translateY(-5px);
}
.option-icon .bi {
  font-size: 2rem;
  color: rgb(0, 91, 86);
}
/* testimonial styles */
.carousel {
  height: 400px;
  width: 100%;
  background-image: linear-gradient(
      to right,
      rgba(0, 0, 0, 0.8),
      rgba(0, 0, 0, 0.8)
    ),
    url("../../../assets/img/testimonials.jpg");
  color: #d7d7d7;
}
.carousel-item p {
  padding: 3rem 4rem 4rem;
  width: 90%;
  margin: 0 auto;
  color: #ccc;
}

.carousel-control-prev span,
.carousel-control-next span {
  font-size: 50px;
  color: rgb(244, 4, 44) !important;
}
.carousel-indicators button {
  background-color: #dd1a1ab1;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.carousel-item {
  min-height: 300px;
}
.carousel-item div {
  min-height: 300px;
  display: flex;
  align-items: center;
}
.reviewer {
  font-size: 1.2rem;
}
