<div class="container-fluid footer-container">
    <div class="row p-5 gy-4">
        <div class="col-sm-12 col-lg-4">
            <div class="about-company">
                <div class="company-logo"><img src="../../../assets/img/logo.jpg" width="200px" alt="">
                </div>
                <div class="company-info">
                    <p>TekRocks IT Services is a leading information technology (IT) Services Company that specializes
                        in providing complete consulting solutions and staff augmentation to its clients. We provide
                        on-time, on-budget, and quality service to our clients and consistently meet their expectations.
                    </p>
                </div>
                <div class="social-media-icons d-flex">
                    <div class="fb"><a href="https://www.facebook.com/" target="_blank"><i
                                class="bi bi-facebook"></i></a></div>
                    <div class="insta"><a href="https://www.instagram.com/" target="_blank"><i
                                class="bi bi-instagram"></i></a></div>
                    <div class="twitter"><a href="https://twitter.com/?lang=en" target="_blank"><i
                                class="bi bi-twitter"></i></a></div>
                    <div class="linkedin"><a href="https://www.linkedin.com/" target="_blank"><i
                                class="bi bi-linkedin"></i></a></div>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <h3>Solutions</h3>
            <a href="" class="solution-link"><i class="bi bi-chevron-right"></i> ERP </a>
            <a href="" class="solution-link"><i class="bi bi-chevron-right"></i> Mobile App </a>
            <a href="" class="solution-link"><i class="bi bi-chevron-right"></i> Cloud Computing </a>
            <a href="" class="solution-link"><i class="bi bi-chevron-right"></i> Software Testing </a>
            <a href="" class="solution-link"><i class="bi bi-chevron-right"></i> Staffing Augmentation </a>
        </div>
        <div class="col-md-4">
            <h3>Contact Info</h3>
            <p><i class="bi bi-geo-alt"></i> 145 Talmadge Rd,<br> Suite#12, <br>Edison, NJ 08817</p>
            <p><i class="bi bi-geo-alt"></i> 145 Talmadge Rd,<br> Suite#12, <br>Edison, NJ 08817</p>
            <p><i class="bi bi-envelope"></i> hr@tekrocks.com</p>
            <div class="col-md-4">
                <a routerLink="/everify"><img src="../../../assets/img/e-verify-logo.png" alt="" width="100px"></a>
            </div>
        </div>
    </div>
</div>
<div class="container-fluid bottom-footer">
    <div class="row">
        <div class="col-sm-12 text-center">
            <p class="p-3 text-white mb-0">Copyright 2024 &copy; TekRocks IT Services LLC | All Rights Reserved.</p>
        </div>
    </div>
</div>