/* nav-link styles while on  active */
.nav-link {
  font-size: 0.9rem;
}
.active {
  color: tomato !important;
}
/* menu icon styles */
.navbar-toggler {
  outline: none;
  box-shadow: none;
}
.navbar-toggler .bi-list {
  color: rgb(0, 91, 86);
}
.dropdown-menu {
  border-radius: 0;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
}
.dropdown-item {
  font-size: 0.8rem;
  padding-right: 2rem;
}
.dropdown-item:hover {
  background-color: rgba(0, 0, 0, 0.2);
}
.dropdown:hover > .dropdown-menu,
.dropend:hover > .dropdown-menu {
  display: block;
}

.dropdown .dropdown-menu {
  display: none;
}
.custom-toggle {
  position: absolute;
  right: 1rem;
}
@media (min-width: 769px) {
  .dropend:hover > .dropdown-menu {
    position: absolute;
    top: 0;
    left: 100%;
  }
}
