<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <nav class="navbar navbar-expand-lg shadow-lg px-3 fixed-top bg-light">
                <a class="navbar-brand" routerLink="/"><img src="../assets/img/logo.jpg" width="180"
                        alt="Tek Rocks IT Services LLC logo" /></a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarContent">
                    <i class="bi bi-list text-danger"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarContent">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item">
                            <a routerLink="home" routerLinkActive="active" class="nav-link" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show">HOME</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="about" routerLinkActive="active" class="nav-link" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show">ABOUT US</a>
                        </li>

                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" role="button" data-bs-toggle="dropdown"
                                aria-expanded="false">
                                <span routerLink="services">SERVICES</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="nav-item dropend">
                                    <a class="dropdown-item" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span routerLink="/services/software-development">SOFTWARE DEVELOPMENT</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item"
                                                routerLink="/services/software-development/application-development">APPLICATION
                                                DEVELOPMENT</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                routerLink="/services/software-development/application-re-designing">APPLICATION
                                                RE-DESIGNING</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                routerLink="/services/software-development/customized-web">CUSTOMIZED
                                                WEB</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                routerLink="/services/software-development/cms">CMS</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                routerLink="/services/software-development/mobile-app-development">MOBILE
                                                APPLICATION
                                                DEVELOPMENT</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li class="nav-item dropend">
                                    <a class="dropdown-item" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span routerLink="/services/technologies">TECHNOLOGIES</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" routerLink="/services/technologies/php">PHP</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                routerLink="/services/technologies/dot-net">.NET</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" routerLink="/services/technologies/dba">DBA</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item" routerLink="/services/technologies/java">JAVA</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                routerLink="/services/technologies/testing">TESTING</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li class="nav-item dropend">
                                    <a class="dropdown-item" role="button" data-bs-toggle="dropdown"
                                        aria-expanded="false">
                                        <span routerLink="/services/training">TRAINING</span>
                                    </a>
                                    <ul class="dropdown-menu">
                                        <li>
                                            <a class="dropdown-item" routerLink="/services/training/java">JAVA
                                                TRAINING</a>
                                        </li>
                                        <li>
                                            <hr class="dropdown-divider" />
                                        </li>
                                        <li>
                                            <a class="dropdown-item"
                                                routerLink="/services/training/peoplesoft">PEOPLESOFT TRAINING</a>
                                        </li>
                                    </ul>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" routerLink="/services/it-staffing">
                                        IT STAFFING
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" routerLink="/services/it-consulting">
                                        IT CONSULTING
                                    </a>
                                </li>
                                <li>
                                    <hr class="dropdown-divider" />
                                </li>
                                <li class="nav-item">
                                    <a class="dropdown-item" role="button" routerLink="/services/healthcare">
                                        HEALTHCARE
                                    </a>
                                </li>
                            </ul>
                        </li>

                        <li class="nav-item">
                            <a routerLink="solutions" routerLinkActive="active" class="nav-link"
                                data-bs-toggle="collapse" data-bs-target=".navbar-collapse.show">SOLUTIONS</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="careers" routerLinkActive="active" class="nav-link" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show">CAREERS</a>
                        </li>
                        <li class="nav-item">
                            <a routerLink="contact" routerLinkActive="active" class="nav-link" data-bs-toggle="collapse"
                                data-bs-target=".navbar-collapse.show">CONTACT US</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</div>