<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="page-banner-wrapper">
                <div class="img-container">
                    <img src="../../../assets/img/e-verify-banner.jpg" alt="">
                </div>
                <div class="text-container bg-white d-inline-block">
                    <h4>E-VERIFY</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container py-5">
    <div class="row">
        <div class="col-sm-12">
            <h3>E-Verified Company</h3>
            <p>We are proud to be an E-Verified company!</p>
            <h6>What is the E-Verify program?</h6>
            <p>The E-Verify program is an Internet-based system operated by the Department of Homeland Security (DHS) in
                partnership with the Social Security Administration (SSA). The E-Verify program currently is the best
                means available for employers to determine employment eligibility of new hires and the validity of their
                Social Security Numbers.</p>
            <h6>Why do we use E-Verify?</h6>
            <p>We are a company that takes pride in following the law. As a student, you will potentially apply for H1B
                and Greencard in the future, and it is important for you to make sure that there are no issues with your
                legal standing at any point during your stay in the US. E-Verify allows us to ensure this, and helps a
                smooth transition of your immgration status in future. E-Verify is also mandatory for employers with
                federal contracts or subcontracts that contain the Federal Acquisition Regulation E-Verify clause, like
                us.</p>
            <p>E-Verify electronically compares information contained on the Employment Eligibility Verification Form
                I-9 with records contained in SSA and DHS databases to help employers verify identity and employment
                eligibility of newly-hired employees.</p>
            <h6>What are the eligibility requirements for the 24-month extension of post-completion OPT?</h6>
            <p>The student must have a bachelor’s, master’s, or doctorate degree included in the STEM Designated Degree
                Program List.
                The student must currently be in an approved post-completion OPT period based on a designated STEM
                degree.
                The student’s employer must be enrolled in E-Verify.</p>
            <p>The student must apply on time (i.e., before the current post-completion OPT expires).</p>
            <p>Source: USCIS</p>
        </div>
    </div>
</div>