<ng-container *ngIf="loading; else content">
    <div class="loader-wrapper d-flex flex-column justify-content-center align-items-center text-center">
        <div class="loader"></div>
        <div class="loader-text">
            <small>Loading...</small>
        </div>
    </div>
</ng-container>
<ng-template #content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="page-banner-wrapper">
                    <div class="img-container">
                        <img src="../../../../assets/img/it-staffing-banner.jpg" alt="">
                    </div>
                    <div class="text-container bg-white d-inline-block">
                        <h4>IT STAFFING</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5">
        <div class="row">
            <div class="col-sm-12">
                <p>TekRocks IT Services specializes in IT Staffing and Recruitment, offering both onsite and remote
                    consultants to enhance your IT capabilities. We provide client-centric, cost-effective Staff
                    Augmentation and Contract IT professionals for various industries.</p>
                <p>When you choose our services, you gain access to qualified professionals from diverse disciplines and
                    skill sets tailored to your needs. Whether it's a single facility or a multi-location national
                    operation, we offer technical recruiting expertise globally.</p>
                <p>Our technical staffing services aim to minimize costs and eliminate the re-learning process of
                    critical
                    vertical nuances. This enhances the value proposition for our clients, ensuring efficiency and
                    effectiveness.</p>
                <h5>We offer IT staffing services for various areas of the Software Development Life Cycle (SDLC):</h5>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">IT Strategy Consulting
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Program Management for complete SDLC
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Project Management
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Database Configuration and Optimization
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Application Integration and Migration
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Programming Services
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Testing and Validation.
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Documentation
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1 mb-3">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Technical Helpdesk </p>
                    </div>
                </div>
                <h5>Some of TekRocks IT Services experienced IT professionals are categorized below:
                </h5>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Application Developers. </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">QA Analysts </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Project Managers
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">System & Network Administration </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Network Administrators</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Business Analysts </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Solutions Architects
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">IT Strategic Planners
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Conversion and Migration Specialists</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1 mb-3">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Web Services Architects and Developers</p>
                    </div>
                </div>
                <p>We are very flexible as far as pricing of our services are concerned. We generally follow T&M or
                    fixed-price billing models depending on the assignment.</p>
            </div>
        </div>
    </div>
</ng-template>