<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="page-banner-wrapper">
                <div class="img-container">
                    <img src="../../../../../assets/img/java-banner.jpg" alt="">
                </div>
                <div class="text-container bg-white d-inline-block">
                    <h4>JAVA</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5 pt-3">
    <div class="row">
        <div class="col-sm-12">
            <p>At TekRocks IT Services, our JTEG (Java Technology Experts Group) embodies innovation, turning concepts
                into reality. From analysts to developers and quality analysts, our team continuously evolves to deliver
                cutting-edge Java solutions.</p>
            <p>Our professional services experts within the JTEG team have been instrumental in the success of numerous
                global software products.</p>
            <p>JTEG continuously monitors the latest developments and new releases in the J2EE space to offer
                cutting-edge IT solutions. With the development of numerous reusable J2EE components, assembling new
                applications has become faster, ensuring a greater return on our customers' technology investments. JTEG
                also adheres strictly to a comprehensive set of Java Coding Standards & Guidelines during the
                development phase of every project.</p>
            <p>The group stays updated on the latest innovations and technology trends. Task groups focus on Research &
                Development activities, bringing new ideas on board with a strategic focus on knowledge enhancement.</p>
        </div>
    </div>
</div>