<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="page-banner-wrapper">
                <div class="img-container">
                    <img src="../../../assets/img/solutions-banner.jpg" alt="">
                </div>
                <div class="text-container bg-white d-inline-block">
                    <h4>SOLUTIONS</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-4 py-5">
    <div class="row">
        <div class="col-sm-12">
            <p>TekRocks IT Services delivers integrated ERP solutions, streamlining data management for businesses. Our
                ERP software enhances effectiveness by streamlining operations. Through managing, collecting, and
                interpreting data across business activities, we empower companies to operate more efficiently. With
                TekRocks IT Services' ERP solutions, businesses access the tools necessary for operational optimization
                and success.</p>
            <p>TekRocks IT Services offers tailored ERP solutions suited for manufacturers, traders, and service
                providers with complex operations. Specializing in customized ERP software modules, we cover planning,
                order tracking, finance accounting, and human resources management. Leveraging our expertise, businesses
                efficiently manage diverse operational aspects, optimizing productivity and success.</p>
            <h5>Advantages of ERP Software includes</h5>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Easy maintenance of data
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Quick retrieval of information in real time
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Reduce time and cost by minimizing the manual power
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Easily generation of reports as desired
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Create a centralized database for employees
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Supporting streamline business process at all levels
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">ERP system provides centralized framework for all business processes
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>