<ng-container *ngIf="loading;else content">
    <div class="loader-wrapper d-flex flex-column justify-content-center align-items-center text-center">
        <div class="loader"></div>
        <div class="loader-text">
            <small>Loading...</small>
        </div>
    </div>
</ng-container>
<ng-template #content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="page-banner-wrapper">
                    <div class="img-container">
                        <img src="../../../assets/img/services-banner.jpg" alt="">
                    </div>
                    <div class="text-container bg-white d-inline-block">
                        <h4>SERVICES</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5 py-3">
        <div class="row">
            <div class="col-sm-12">
                <p>Successful companies throughout the world have one common trait – there are highly focused on their
                    core
                    competencies. Without imbibing this specific trait, goals are not achievable.</p>
                <p>To achieve success without cost escalations in a highly competitive and dynamic environment,
                    companies
                    are turning towards Business Process Outsourcing (BPO). Growline, Inc’s comprehensive suite of
                    Software
                    Development, IT Training & Consulting Services and IT Staffing has its foundation on a platform of
                    process and domain knowledge supported by innovative technologies.</p>
                <p>Career Soft Solutions customized service portfolio of IT development and other value-added services
                    across a wide range of industry verticals including IT, HR Services, Telecom, Healthcare, FMCG,
                    Finance
                    & Banking etc., helps companies achieve</p>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Improved ROIs and reduced costs</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Position of sustained growth</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Directing of resources for core competencies</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Market expansions and business growth</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1 pb-3">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Increase in efficiency and productivity across all organizational levels
                        </p>
                    </div>
                </div>
                <p>Career Soft Solutions offers a transparent and expedited delivery in its outsourcing services by
                    laying
                    emphasis on process assessment, process standardization, process re-engineering, people issues,
                    technology component and quality. Integrating these aspects ensures a secure, confidential and
                    economical outcome for our clients leading to repeat businesses for us. </p>
                <p>Our one-stop IT service solutions are as follows:</p>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">IT Consulting</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1 pb-3">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">IT Staffing
                        </p>
                    </div>
                </div>
                <p>Successful companies throughout the world have one common trait – there are highly focused on their
                    core
                    competencies. Without imbibing this specific trait, goals are not achievable.</p>
                <p>To achieve success without cost escalations in a highly competitive and dynamic environment,
                    companies
                    are turning towards Business Process Outsourcing (BPO). Growline, Inc’s comprehensive suite of
                    Software
                    Development, IT Training & Consulting Services and IT Staffing has its foundation on a platform of
                    process and domain knowledge supported by innovative technologies.</p>
                <p>Career Soft Solutions customized service portfolio of IT development and other value-added services
                    across a wide range of industry verticals including IT, HR Services, Telecom, Healthcare, FMCG,
                    Finance
                    & Banking etc., helps companies achieve</p>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Improved ROIs and reduced costs
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Position of sustained growth

                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Directing of resources for core competencies

                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Market expansions and business growth
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1 pb-3">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Increase in efficiency and productivity across all organizational levels
                        </p>
                    </div>
                </div>
                <p>Career Soft Solutions offers a transparent and expedited delivery in its outsourcing services by
                    laying
                    emphasis on process assessment, process standardization, process re-engineering, people issues,
                    technology component and quality. Integrating these aspects ensures a secure, confidential and
                    economical outcome for our clients leading to repeat businesses for us.</p>
                <p>Our one-stop IT service solutions are as follows:</p>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">IT Consulting
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">IT Staffing
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Application Services
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Training Services
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Web development
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1 pb-3">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Search Engine Optimization
                        </p>
                    </div>
                </div>
                <p>To know how Career Soft Solutions can help you, please get in touch with us.</p>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Application Services
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Training Services
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Web development
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1 pb-3">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Search Engine Optimization
                        </p>
                    </div>
                </div>
                <p>To know how Career Soft Solutions can help you, please get in touch with us.</p>

            </div>
        </div>
    </div>
</ng-template>