<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="page-banner-wrapper">
                <div class="img-container">
                    <img src="../../../../assets/img/healthcare-banner.jpg" alt="">
                </div>
                <div class="text-container bg-white d-inline-block">
                    <h4>HEALTH CARE</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5">
    <div class="row">
        <div class="col-sm-12">
            <p>At TekRocks IT Services, our vision is to deliver best-in-class IT staffing and customized, flexible,
                and scalable business applications and IT infrastructure services to clients worldwide.</p>
            <p>TekRocks IT Services provides staffing and IT solutions across industries including pharmaceuticals,
                medical devices, software design, development, quality assurance, and other IT services. We specialize
                in customized business-technology solutions for sectors such as insurance, banking, manufacturing,
                pharmaceuticals, and capital markets. With a proven track record of delivering high-quality software
                solutions on time and within budget, our skilled employees are equipped to handle complex projects
                efficiently. Our services encompass executive search, contingent staffing, statement of work (SOW)
                projects, interim/contract/freelance positions, and permanent/direct hire services, ensuring compliance
                with market requirements.</p>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Biostatistical/Biostatisticians
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Database programming
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">SDTM statistical programming
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">ADAM statistical programming
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Statistical programming
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">QC statistical programming
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">SDTM review
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1 mb-3">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">ADAM review
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Veeva consulting
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Computer system validation (csv)
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Pharmacovigilance/Safety
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Data management/Data manager
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Database programming
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Statistical programmingt
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Medical writing
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1 mb-3">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Regulatory affairs
                    </p>
                </div>
            </div>
        </div>
        <div class="col-sm-12">
            <h5>Specific functions include:</h5>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Engineering, manufacturing & supply chain
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Quality assurance & scientific
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Automation, mes, al & csv
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Commercial & business development
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Health Economics & Outcomes Research: Enhancing efficiency and productivity
                        across all organizational levels.
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Market access, pricing & reimbursement
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Medical affairs
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1 mb-3">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Clinical development
                    </p>
                </div>
            </div>
            <p>For a dedicated life sciences partner and current industry insights, visit our corporate website. Explore
                our products and services for tailored solutions to capital projects or programs, and stay informed
                about industry developments. Contact us for more information.</p>
            <h5>Core Expertise</h5>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Contract staffing servicesIT Consulting
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Permanent staffing
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Contract to hire
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">RPO model
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Recruitment support
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Seamless migration
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Structured on-boardingIs
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Associate training
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Customized solutions
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Software design & development
                    </p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Software quality assurance
                    </p>
                </div>
            </div>
        </div>
    </div>
</div>