<ng-container *ngIf="loading; else content">
    <div class="loader-wrapper d-flex flex-column justify-content-center align-items-center text-center">
        <div class="loader"></div>
        <div class="loader-text">
            <small>Loading...</small>
        </div>
    </div>
</ng-container>
<ng-template #content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="page-banner-wrapper">
                    <div class="img-container">
                        <img src="../../../../../assets/img/dot-net-banner.jpg" alt="">
                    </div>
                    <div class="text-container bg-white d-inline-block">
                        <h4>.NET</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5 pt-3">
        <div class="row">
            <div class="col-sm-12">
                <p>TekRocks IT Services offers ASP.Net Training, VB.Net Training, and C#.Net Training for Microsoft .Net
                    Certification Courses, endorsed by Microsoft Corp. These courses are designed to equip professionals
                    with industry-relevant skill sets and keep them updated on software development trends. What sets
                    our
                    training apart is the depth of knowledge we provide in the .NET training program. This depth is
                    evident
                    in the coding and application development skills demonstrated by our programmers and students.</p>
                <h6>Our online.NET training course contains the following topics:</h6>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">.NET Framework 4.0 and Visual Studio 2010</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">C# Logical Programming</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">.NET OOPS</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Windows Application Development</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">ASP .NET – Web Application Development</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">ASP .NET - Websites and Dynamic Website creation</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">ADO .NET Data Access</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Latest Entity Framework Data Access</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Latest Architectures</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Windows Presentation Foundation</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Dynamic Rules Authoring in WF</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Windows Communication Foundation</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Silver light Application Development</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">LINQ</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Web 2.0
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Universal Design</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">SEO</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">SQL Server 2008</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">SQL Server 2008 Express</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Azure</p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-3">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Guidance on writing Microsoft Exams to earn Microsoft Certificate of
                            Excellence
                        </p>
                    </div>
                </div>
                <h6>Training in .NET technologies through our company ensures:</h6>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Getting trained by industry experts and professionals on all the latest
                            .NET
                            technologies
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Live Application Environment with real time projects
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Access to corporate infrastructure and latest technologies
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Detailed and well-researched course curriculum
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">ASP Hands-on training with access to 24×7 lab availability
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Exposure to industry standard Software Development Life Cycle
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">ADO Skilled candidates will get the chance to work with our Development
                            team
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Placement Assistance facilitated by our huge networking groups
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Assistance to prepare for the certification exams
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Reasonable fee structure
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-template>