<ng-container *ngIf="loading; else content">
    <div class="loader-wrapper d-flex flex-column justify-content-center align-items-center text-center">
        <div class="loader"></div>
        <div class="loader-text">
            <small>Loading...</small>
        </div>
    </div>
</ng-container>
<ng-template #content>
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-12 p-0">
                <div class="page-banner-wrapper">
                    <div class="img-container">
                        <img src="../../../../../assets/img/java-training.jpg" alt="">
                    </div>
                    <div class="text-container bg-white d-inline-block">
                        <h4>JAVA TRAINING</h4>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="container my-5 py-3">
        <div class="row">
            <div class="col-sm-12">
                <h6>Java Training Services provides a comprehensive range of services aimed at enhancing your return on
                    investment in IT.</h6>
                <p>Public and private sector organizations are becoming increasingly dependent on their applications to
                    provide top-notch service to customers and citizens, striving for optimal performance. Whether
                    they're
                    developing new applications or maintaining existing ones, the stakes are high. Organizations must
                    ascertain the timeline for delivering value through applications, ensure their stability, and
                    minimize
                    maintenance costs while enabling swift changes.</p>
                <h6>We can help clients improve their return on IT spend:</h6>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Our Java Training Services deliver tangible benefits:</p>
                        <ul>
                            <li>Quality improvement: Defect density reduced by up to 65%.</li>
                            <li>Productivity boost: Development productivity increased by up to 30%.</li>
                            <li>On-time, on-budget delivery: Achieving targets up to 90% of the time.</li>
                        </ul>

                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">Our services enhance productivity by up to 45% and cut costs by as much as
                            50%.
                        </p>
                    </div>
                </div>
                <div class="point-wrapper d-flex mb-1">
                    <div class="icon">
                        <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                    </div>
                    <div class="text">
                        <p class="mb-0 ms-3">We achieve 99% or higher application availability, reduce trouble tickets
                            by
                            70%, and ensure up to 100% efficiency in processing backlogs.</p>
                    </div>
                </div>
                <h6>Maintain and modernize business-critical mainframe applications</h6>
                <p>Maintaining mainframe applications developed over 20 years ago can be complex and costly in today's
                    real-time business environment. This is exacerbated by outdated documentation and the loss of
                    knowledgeable engineers due to attrition.</p>
                <p>TekRocks IT Services application development and support services specialize in maintaining
                    business-critical
                    mainframe applications and replacing legacy systems. They excel in managing mainframe costs,
                    handling
                    change requests, addressing cost pressures, and providing support for niche technologies and
                    packaged
                    solutions.</p>
                <p>Our comprehensive services focus on enhancing quality by addressing issues such as inadequate
                    application
                    structure, poor code quality, and inefficiency. We identify and eliminate dead components and
                    unusable
                    code that accumulate over time due to insufficient funding for regular cleanup and optimization.
                    Additionally, we leverage both proprietary and partner toolsets to optimize inventory and MIPS
                    utilization, ensuring maximum efficiency and performance of mainframe applications.</p>
            </div>
        </div>
    </div>
</ng-template>