<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12 p-0">
            <div class="page-banner-wrapper">
                <div class="img-container">
                    <img src="../../../../../assets/img/contract-to-hire-staffing.jpg" alt="">
                </div>
                <div class="text-container bg-white d-inline-block">
                    <h4>CONTRACT TO HIRE STAFFING</h4>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container my-5 pt-3">
    <div class="row">
        <div class="col-sm-12">
            <p>Contract-to-Hire staffing solutions offered by TekRocks IT Services allow our clients to transition a
                temporary employee into a full-time position after assessing their on-the-job performance. This
                intermediate staffing solution involves employing a candidate temporarily with the intention of offering
                them a permanent role after evaluating their skills and capabilities over a specific period. This
                approach offers employers flexibility in monitoring a consultant's work performance before extending a
                formal offer of employment.</p>
            <p>TekRocks IT Services Contract-to-Hire solutions offer our customers the flexibility to hire candidates
                after an initial 3-6 month contract period. This arrangement allows clients to assess the candidate's
                core skills and on-the-job interpersonal abilities before committing to a permanent hire.</p>
            <p>Contract-to-Hire Solutions operate on an hourly bill rate for the contract period until the consultant
                transitions to regular employment with the company. The arrangement may also involve a minimum number of
                hours that the consultant must work as a TekRocks IT Services Consultant before conversion.</p>
            <p>TekRocks IT Services receives a conversion fee once the consultant transitions to regular employee status
                with the company.</p>
            <p>At TekRocks IT Services, the process for candidate interviews, screening, and recruitment resembles that
                for temporary employees; however, candidates have a long-term goal, interest, and involvement in the
                company. TekRocks IT Services prioritizes employee development, investing in both core and soft skills
                to facilitate a seamless transition from contract resource to hired resource.</p>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Regular trainings during pre-contract period</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Focused on-demand technical trainings</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Constant upgrading soft skills</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Regular performance reviews</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Orientation programs on future technology trends</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1 mb-3">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Access to TekRocks IT Services SharePoint intranet for knowledge sharing</p>
                </div>
            </div>
            <h5>Benefits</h5>
            <p>Contract-to-Hire staffing is increasingly popular as it presents a win-win scenario for both the company
                and the candidate.</p>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Mitigate risk</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Maintain low attrition</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Reduce HR and operational costs</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Increased return on investment</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Reduced administrative responsibilities</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Flexibility to hire staff in core business areas</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Opportunity to train the employee to specific skills</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Opportunity to hire only high performing talent in the organization</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">The model brings following advantages for candidate</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Opportunity for on-the-job training</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Opportunity for potential permanent job</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Opportunity to understand potential role in the company</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Opportunity to prove their expertise and demonstrate skills</p>
                </div>
            </div>
            <div class="point-wrapper d-flex mb-1">
                <div class="icon">
                    <i class="bi bi-check-circle" style="color: rgb(0, 91, 86);"></i>
                </div>
                <div class="text">
                    <p class="mb-0 ms-3">Opportunity to work in different environments and industries</p>
                </div>
            </div>
        </div>
    </div>
</div>